@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	background: none;
	border: none;
	scroll-behavior: smooth;
}
.transition,
.transition:hover {
	transition: 200ms ease;
}
body {
	margin: 0;
	font-family: "Libre Franklin", sans-serif;
	color: #fff;
}
a {
	color: inherit;
}
button {
	cursor: pointer;
	font: inherit;
}
input,
select {
	font: inherit;
	font-size: 16px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	// font-family: "PT Serif", sans-serif;
	font-family: "Lora", serif;
}
p {
	line-height: 1.5;
}

.header {
	position: sticky;
	z-index: 10;
	top: 0;
	width: 100%;
	background: #010d19;
	.header-wrapper {
		max-width: 1440px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 25px 120px;
		margin: auto;
		.logo-wrapper {
			justify-self: flex-start;
			width: 50%;
			display: flex;
			align-items: center;
			a {
				width: 130px;
				line-height: 0;
				transition: 400ms ease;
				display: inline-block;
				svg path {
					transition: 400ms ease;
				}
				&:hover {
					transition: 400ms ease;
					transform: scale(1.05);

					svg path {
						fill: #c97c48;
						transition: 400ms ease;
					}
				}
			}
		}
		.nav-links {
			display: flex;
			justify-content: center;
			.nav-link {
				padding: 20px;
				a {
					color: #cfcfcf;
					white-space: nowrap;
					transition: 300ms ease;
					display: block;
					text-transform: uppercase;
					font-size: 14px;
					letter-spacing: 1.8px;
					font-weight: 500;

					&:hover {
						color: #e0874b;
						transition: 300ms ease;
						transform: scale(1.03);
					}
				}
			}
		}
		.nav-cta {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			justify-self: flex-end;
			width: 50%;
			.link {
				&:first-child {
					margin-right: 40px;
				}
			}
			.profile-dropdown {
				margin-right: 30px;
				position: relative;
				.profile-trigger {
					color: inherit;
					display: flex;
					align-items: center;
					img {
						width: 40px;
						height: 40px;
						object-fit: cover;
						border-radius: 500px;
						border: 3px solid #be7530;
					}
				}
				.profile-contents {
					position: absolute;
					top: 120%;
					left: 50%;
					transform: translateX(-50%);
					padding: 15px 20px;
					background-color: white;
					box-shadow: rgb(204 204 204 / 20%) 3px 3px 5px 2px;
					border-radius: 10px;
					color: #010d19;
					p {
						white-space: nowrap;
						font-weight: 500;
						margin-bottom: 10px;
					}
					.signout {
						display: block;
						white-space: nowrap;
						padding: 10px;
						text-transform: uppercase;
						background-color: #e04b4b;
						border-radius: 3px;
						font-weight: 500;
						font-size: 15px;
						color: #fff;
					}
				}
			}
			.cart-icon {
				a {
					position: relative;
					display: block;
					line-height: 0;
					transition: 300ms ease;

					svg {
						color: #cfcfcf;
						font-size: 28px;
					}
					&:hover {
						transition: 300ms ease;
						transform: scale(1.08);
					}
					span {
						position: absolute;
						top: -7px;
						right: -6px;
						display: block;
						height: 18px;
						width: 18px;
						background-color: #be7530;
						font-size: 12px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 500px;
					}
				}
			}
		}
	}
}

.footer {
	background-color: #010d19;

	.footer-wrapper {
		max-width: 1440px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding: 40px 120px;
		.info {
			width: 330px;
			.logo-wrapper {
				margin-bottom: 10px;
				a {
					width: 130px;
					line-height: 0;
					transition: 400ms ease;
					display: inline-block;

					svg {
						transition: 300ms ease;
					}
					&:hover svg {
						color: #e0874b;
						transition: 300ms ease;
						transform: scale(1.03);
					}
				}
			}
			p {
				color: #cfcfcf;
				font-size: 15px;
				margin-bottom: 20px;
			}
			.socials {
				display: flex;
				justify-content: flex-start;
				.link {
					margin-right: 22px;
					:last-child {
						margin: 0;
					}
					a {
						svg path {
							transition: 200ms ease;
						}
						&:hover svg path {
							fill: #e0874b;
							transition: 200ms ease;
							transform: scale(1.03);
						}
					}
				}
			}
		}
		.page-links {
			display: flex;
			.wrapper {
				margin-right: 40px;
				max-width: 150px;
				:last-child {
					margin: 0;
				}
				p {
					margin-bottom: 15px;
				}
				.links .link {
					margin-bottom: 10px;
					a {
						color: #cfcfcf;
						font-size: 15px;
						line-height: 24px;
						transition: 300ms ease;
						display: block;

						&:hover {
							color: #e0874b;
							transition: 300ms ease;
							transform: scale(1.03);
						}
					}
				}
			}
		}
	}
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
	0% {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(300deg);
		-o-transform: rotate(300deg);
		transform: rotate(300deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	0% {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-ms-transform: rotate(300deg);
		-moz-transform: rotate(300deg);
		-webkit-transform: rotate(300deg);
		-o-transform: rotate(300deg);
		transform: rotate(300deg);
	}
	100% {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes breathing {
	0% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}

	25% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
	75% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
}

@keyframes breathing {
	0% {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}

	25% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	75% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	100% {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
}

.full-screen-loader {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.416);
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
	.container {
		background-color: #fff;
		color: #010d19b2;
		padding: 10px;
		border-radius: 10px;
		text-align: center;
		font-size: 15px;
		.img {
			-webkit-animation: rotating 1s linear infinite;
			-moz-animation: rotating 1s linear infinite;
			-ms-animation: rotating 1s linear infinite;
			-o-animation: rotating 1s linear infinite;
			animation: rotating 1s linear infinite;
			width: 150px;
		}
	}
}
